@model archpointMidtermPHR.Models.Patient

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Patient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientId" />
            <div class="form-group">
                <label asp-for="PatientFirstName" class="control-label"></label>
                <input asp-for="PatientFirstName" class="form-control" />
                <span asp-validation-for="PatientFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientMi" class="control-label"></label>
                <input asp-for="PatientMi" class="form-control" />
                <span asp-validation-for="PatientMi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientLastName" class="control-label"></label>
                <input asp-for="PatientLastName" class="form-control" />
                <span asp-validation-for="PatientLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodType" class="control-label"></label>
                <input asp-for="BloodType" class="form-control" />
                <span asp-validation-for="BloodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateProvince" class="control-label"></label>
                <input asp-for="StateProvince" class="form-control" />
                <span asp-validation-for="StateProvince" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Race" class="control-label"></label>
                <input asp-for="Race" class="form-control" />
                <span asp-validation-for="Race" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <input asp-for="MaritalStatus" class="form-control" />
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Religion" class="control-label"></label>
                <input asp-for="Religion" class="form-control" />
                <span asp-validation-for="Religion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmploymentInfo" class="control-label"></label>
                <input asp-for="EmploymentInfo" class="form-control" />
                <span asp-validation-for="EmploymentInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmergencyContactInfo" class="control-label"></label>
                <input asp-for="EmergencyContactInfo" class="form-control" />
                <span asp-validation-for="EmergencyContactInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LivingWill" class="control-label"></label>
                <input asp-for="LivingWill" class="form-control" />
                <span asp-validation-for="LivingWill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoNotResuscitate" class="control-label"></label>
                <input asp-for="DoNotResuscitate" class="form-control" />
                <span asp-validation-for="DoNotResuscitate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganDonor" class="control-label"></label>
                <input asp-for="OrganDonor" class="form-control" />
                <span asp-validation-for="OrganDonor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
