@model archpointMidtermPHR.Models.MentalHealthHistory

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>MentalHealthHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentTreatmentForMentalDisorder" class="control-label"></label>
                <input asp-for="CurrentTreatmentForMentalDisorder" class="form-control" />
                <span asp-validation-for="CurrentTreatmentForMentalDisorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedCareLocation" class="control-label"></label>
                <input asp-for="MedCareLocation" class="form-control" />
                <span asp-validation-for="MedCareLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeOfTreatment" class="control-label"></label>
                <input asp-for="TypeOfTreatment" class="form-control" />
                <span asp-validation-for="TypeOfTreatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TreatedInThePast" class="control-label"></label>
                <input asp-for="TreatedInThePast" class="form-control" />
                <span asp-validation-for="TreatedInThePast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MentalCondDisorder" class="control-label"></label>
                <input asp-for="MentalCondDisorder" class="form-control" />
                <span asp-validation-for="MentalCondDisorder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentMedication" class="control-label"></label>
                <input asp-for="CurrentMedication" class="form-control" />
                <span asp-validation-for="CurrentMedication" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedProviderId" class="control-label"></label>
                <select asp-for="MedProviderId" class ="form-control" asp-items="ViewBag.MedProviderId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
